#addPersonneForm{
  margin-top: 6%;
}

li {
  span.nom {width: 18%;display: inline-block; font-weight: bold;}
  span.datenaiss {width: 12%;display: inline-block;}
  span.mail {width: 17%;display: inline-block;}
  span.tel {width: 12%;display: inline-block;}
  span.adresse {width: 30%;display: inline-block;}
  span.actions {width: 10%;display: inline-block; float: right; text-align: right;}
}
