<div class="col-12" id="addPersonneForm">
<h2>Ajouter un Runner</h2>
<form>
  <br>
	<div class="row">
		<div class="col-4">
			<select [(ngModel)]="formAddPersonne.civilite" name="civilite" class="form-control">
				<option value="Madame">Madame</option>
				<option value="Monsieur">Monsieur</option>
			</select>
		</div>
	</div><br>
	<div class="row">
		<div class="col">
			<input [(ngModel)]="formAddPersonne.nom" name="nom" type="text" class="form-control" placeholder="Nom">
		</div>
		<div class="col">
			<input [(ngModel)]="formAddPersonne.prenom" name="prenom" type="text" class="form-control" placeholder="Prénom">
		</div>
	</div><br>
  <div class="row">
    <div class="col-2">
      <select [(ngModel)]="jourNaiss" name="jourNaiss" class="form-control" placeholder="Jour">
        <option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
      </select>
    </div>
    <div class="col-2">
      <select [(ngModel)]="moisNaiss" name="moisNaiss" class="form-control" placeholder="Mois">
        <option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
      </select>
    </div>
    <div class="col-2">
      <select [(ngModel)]="anneeNaiss" name="anneeNaiss" class="form-control" placeholder="Annee">
        <option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
      </select>
    </div>
  </div><br>
	<div class="row">
		<div class="col-6">
			<input [(ngModel)]="formAddPersonne.adresse" name="adresse" type="email" class="form-control" placeholder="Adresse">
		</div>
		<div class="col-3">
			<input [(ngModel)]="formAddPersonne.codePostale" name="cp" type="text" class="form-control" placeholder="Code postal">
		</div>
		<div class="col-3">
			<input [(ngModel)]="formAddPersonne.ville" name="ville" type="text" class="form-control" placeholder="Ville">
		</div>
	</div><br>
  <div class="row">
    <div class="col">
      <input [(ngModel)]="formAddPersonne.mail" name="mail" type="email" class="form-control" placeholder="Adresse email">
    </div>
    <div class="col">
      <input [(ngModel)]="formAddPersonne.tel" name="tel" type="text" class="form-control" placeholder="Téléphone">
    </div>
  </div><br>
  <div class="row">
    <!-- todo club
    <div class="col">
      <input [(ngModel)]="formAddPersonne.certificatMedical" name="certificat" type="text" class="form-control" placeholder="Certificat Medical">
    </div>
    -->
    <div class="col">
      <input [(ngModel)]="formAddPersonne.license" name="licence" type="text" class="form-control" placeholder="Numéro de licence">
    </div>
  </div><br>
  <!-- todo club
  <div class="row">
    <div class="col">
      <input [(ngModel)]="formAddPersonne.club" name="club" type="text" class="form-control" placeholder="nom du club">
    </div>
  </div><br>
  -->
	<button (click)="onAddPersonne()" class="btn btn-primary">Ajouter</button>
</form>
</div>
<div class="col-12">
  <app-personne-list></app-personne-list>
</div>
