<br>
<div class="row">
  <div class="list-group col-12">
    <div class="list-group-item list-group-item-action active">
      Liste de tout les évènements
    </div>
    <div *ngFor="let e of evenements" class="divEvenements">
      <div class="divEvenementContent list-group-item list-group-item-action">
        <div class="row ">
          <div class="col-10">
            <span class="label">{{ e.label }}</span>
          </div>
          <div class="col-2">
          <span class="actions">
              <button class="btn btn-primary" routerLink="/evenement/{{e.id}}" title="Éditer"><i class="fas fa-edit"></i></button>&nbsp;
              <button (click)="onSelectDeleteEvenement(e.label, e.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
