<br>
<h1>
  Ajouter une course
</h1><br>

<form>
  <br>
  <div class="row">
    <div class="col">
      <input [(ngModel)]="formAddCourse.label" name="label" type="text" class="form-control" placeholder="Label">
    </div>
    <div class="col">
      <input [(ngModel)]="formAddCourse.lieu" name="lieu" type="text" class="form-control" placeholder="Lieu">
    </div>
  </div><br>

  <div class="row">
    <div class="col">
      <input [(ngModel)]="formAddCourse.distance" name="distance" type="number" class="form-control" placeholder="Distance">
    </div>
    <div class="col">
      <input [(ngModel)]="formAddCourse.nombreParticipants" name="nombreParticipants" type="number" class="form-control" placeholder="Nombre de participants">
    </div>
    <div class="col">
      <input [(ngModel)]="formAddCourse.denivele" name="denivele" type="number" class="form-control" placeholder="Dénivelé">
    </div>
  </div><br>

  <div class="row">
    <div class="col">
      <input [(ngModel)]="formAddCourse.dateDebut" name="dateDebut" type="any" class="form-control" placeholder="Date de début">
    </div>
    <div class="col">
      <input [(ngModel)]="formAddCourse.dateFin" name="dateFin" type="any" class="form-control" placeholder="Date  de fin">
    </div>
  </div><br>

  <button (click)="onAddCourse()" class="btn btn-primary">Ajouter</button>
</form>
