<div class="col-12" id="addPersonneForm">
  <h2>Ajouter un dossard</h2>
  <form>
    <br>
    <div class="row">
      <div class="col">
        <input [(ngModel)]="formAddDossard.numeroDossard" name="numDossard" type="text" class="form-control" placeholder="Numero de dossard">
      </div>
      <div class="col">
        <input [(ngModel)]="formAddDossard.personne.id " name="prenom" type="text" class="form-control" placeholder="id du coureur">
      </div>
    </div><br>

    <button (click)="onAddDossard()" class="btn btn-primary">Ajouter</button>
  </form>
</div>
<div class="col-12">
  <app-dossard-list></app-dossard-list>
</div>
