<div class="container">
  <div class="row">
    <div class="col-3 ">
      <app-navigation></app-navigation>
    </div>
    <div class="col-9 fond" >
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

