<br>
<div class="row">
  <div class="list-group col-12">
    <div class="list-group-item list-group-item-action active">
      Liste de tout les runners
    </div>
    <div *ngFor="let p of personnes" class="divPersonne">
      <div class="divPersonneContent list-group-item list-group-item-action">
        <div class="row ">
          <div class="col-10">
            <span class="nom">{{  p.id +' '+p.nom +' '+ p.prenom  }}</span>
          </div>
          <div class="col-2">
          <span class="actions">
              <button class="btn btn-primary" routerLink="/personne/edit/{{p.id}}" title="Éditer"><i class="fas fa-edit"></i></button>&nbsp;
              <button (click)="onSelectDeletePersonne(p.nom +' '+ p.prenom , p.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
