<div class="col-12" id="addPersonneForm">
  <h2>Editer un runner un Runner</h2>
  <form>
    <br>
    <div class="row">
      <div class="col-4">
        <select [(ngModel)]="formEditPersonne.civilite" name="civilite" class="form-control">
          <option value="Madame">Madame</option>
          <option value="Monsieur">Monsieur</option>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col">
        <input [(ngModel)]="formEditPersonne.nom" name="nom" type="text" class="form-control" placeholder="Nom">
      </div>
      <div class="col">
        <input [(ngModel)]="formEditPersonne.prenom" name="prenom" type="text" class="form-control" placeholder="Prénom">
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <select [(ngModel)]="jourNaiss" name="jourNaiss" class="form-control" placeholder="Jour">
          <option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
        </select>
      </div>
      <div class="col-2">
        <select [(ngModel)]="moisNaiss" name="moisNaiss" class="form-control" placeholder="Mois">
          <option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
        </select>
      </div>
      <div class="col-2">
        <select [(ngModel)]="anneeNaiss" name="anneeNaiss" class="form-control" placeholder="Annee">
          <option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col-6">
        <input [(ngModel)]="formEditPersonne.adresse" name="adresse" type="email" class="form-control" placeholder="Adresse">
      </div>
      <div class="col-3">
        <input [(ngModel)]="formEditPersonne.codePostale" name="cp" type="text" class="form-control" placeholder="Code postal">
      </div>
      <div class="col-3">
        <input [(ngModel)]="formEditPersonne.ville" name="ville" type="text" class="form-control" placeholder="Ville">
      </div>
    </div><br>
    <div class="row">
      <div class="col">
        <input [(ngModel)]="formEditPersonne.mail" name="mail" type="email" class="form-control" placeholder="Adresse email">
      </div>
      <div class="col">
        <input [(ngModel)]="formEditPersonne.tel" name="tel" type="text" class="form-control" placeholder="Téléphone">
      </div>
    </div><br>
    <div class="row">
      <!-- todo club
      <div class="col">
        <input [(ngModel)]="formEditPersonne.certificatMedical" name="certificat" type="text" class="form-control" placeholder="Certificat Medical">
      </div>
      -->
      <div class="col">
        <input [(ngModel)]="formEditPersonne.license" name="licence" type="text" class="form-control" placeholder="Numéro de licence">
      </div>
    </div><br>
    <!-- todo club
    <div class="row">
      <div class="col">
        <input [(ngModel)]="formEditPersonne.club" name="club" type="text" class="form-control" placeholder="nom du club">
      </div>
    </div><br>
    -->
    <button (click)="onUdaptePersonne()" class="btn btn-primary">Ajouter</button>
  </form>
</div>
<div class="col-12">
  <app-personne-list></app-personne-list>
</div>
