<br>
<div class="row">
  <div class="list-group col-12">
    <div class="list-group-item list-group-item-action active">
      Liste des courses
    </div>
    <div *ngFor="let c of courses" class="divCourses">
      <div class="divCourseContent list-group-item list-group-item-action">
        <div class="row ">
          <div class="col-10">
            <span class="label">{{ c.label }}</span>
          </div>
          <div class="col-2">
          <span class="actions">
              <button class="btn btn-primary" routerLink="/course/edit/{{c.id}}" title="Éditer"><i class="fas fa-edit"></i></button>&nbsp;
              <button (click)="onSelectDeleteCourse(c.label, c.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
