.vertical-menu {
  width: 200px; /* Set a width if you like */
  height: 100%;
  margin-left: 25px;
  margin-top: 10%;




}

.vertical-menu a {
  background-color: #fdfdbf;
  box-shadow: 6px 6px 6px  #a3abf2;
  color: #a3abf2; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */

}

.vertical-menu a:hover {
  background-color:  #a3abf2;
  color: #fdfdbf;
}

.vertical-menu a.active {
  background-color: white; /* Add a green color to the "active/current" link */
  color: white;
  border: 1px solid black;
}


