<div class="col-12 vertical-menu">
  <a routerLink="/personne/add">Nouveau Runner</a>
  <a href="/evenement/add">Nouvel Evenement</a>
 <!-- <a href="/course/add">Nouvelle Course</a>-->
  <a href="/personne/list">Liste Runners</a>
  <a href="/evenement/list">Liste Evenements</a>
  <!--<a href="/course/list">Liste Courses</a>
  <a href="/personne/edit">Gestion des Runners</a>
  <a href="/evenement/edit">Gestion des Evenements</a>
  <a href="/classemeent">Classement</a>-->
</div>
