
<br>
<h1>
  Consultation de l'événement et des classements.
</h1>
<br>

<div>
<div class="row">
<div class="col-3">
  <h3>Liste des evenements</h3>
</div>
<div class="col-9">
  <h3>Consultation des differents classements</h3>
  <button (click)="classementGener()" class="btn btn-primary">Classement general</button><br><br>
  <button (click)="classementHomme()" class="btn btn-primary">Classement hommes</button><br><br>
  <button (click)="classementFemme()" class="btn btn-primary">Classement femmes</button><br><br>
  <button (click)="classementIndividuel()" class="btn btn-primary">Classement individuel</button><br><br>
</div>
</div>
<div>
  <app-personne-list></app-personne-list>
</div>
