<br>
<h1>
  Nouvel événement
</h1><br>

<form>

  <br>
  <div class="row">
    <div class="col">
      <input [(ngModel)]="formEditEvenement.label" name="label" type="text" class="form-control" placeholder="Label">
    </div>
  </div><br>

  <div class="row">
    <div class="col">
      <input [(ngModel)]="formEditEvenement.dateDebut" name="dateDebut" type="any" class="form-control" placeholder="Date de début">
    </div>
    <div class="col">
      <input [(ngModel)]="formEditEvenement.dateFin" name="dateFin" type="any" class="form-control" placeholder="Date de fin">
    </div>
  </div><br>

  <br>
  <div class="row">
    <div class="col">
      <input [(ngModel)]="formEditEvenement.lieu" name="lieu" type="text" class="form-control" placeholder="Lieu">
    </div>
  </div><br>

  <br>
  <div class="row">
    <div class="col">
      <input [(ngModel)]="formEditEvenement.nombreDeCourse" name="nombreDeCourse" type="number" class="form-control" placeholder="Nombre de course">
    </div>
  </div><br>

  <button (click)="onUpdateEdit()" class="btn btn-primary">Ajouter</button>

</form>
